*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 20px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
}
h1, h2, h3{
    color: #000;
}
.cookie-banner{
    position: fixed;
    display: flex;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 15px 15px;
    align-items: start;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
    z-index: 10000;
}