.cookie-banner{position:fixed;display:flex;bottom:40px;left:10%;right:10%;width:80%;padding:15px;align-items:start;justify-content:space-between;background-color:#eee;border-radius:5px;box-shadow:0 0 2px 1px rgb(0 0 0/20%);z-index:10000}